//*****************************************************
//*   HOME PAGE
//*****************************************************

.home-bgImg-container{
   @include bgImg(100vh, $main-bgImg-path);
}

h2{
    margin-bottom: 1rem;
}

.home{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__name{
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        &--last{
            color: purple;
            font-weight: 700;
        }
        
    }
    
}