$primary-color: #272727;
$secondary-color: #ff652f;
$third-color: #b75c16c1;
$text-color: #eee;

$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$main-bgImg-path: "https://images5.alphacoders.com/103/1032158.jpg";
